.nav{
  display:flex;
  background-color: #255946;
  /* background: linear-gradient(90deg, rgba(115,201,114,1) 61%, rgba(255,255,255,1) 100%); */
  justify-content:space-between;
  padding: 0.8rem 8rem 0.8rem 10rem;

}
.element-content{
  display:none;
    position: absolute;
    background-color: #262B2B;
    z-index: 1;
}
.nav-links{
    display:flex;
}
.link{
  text-decoration: none;
  color:#fff;
  margin:1rem;
}
.nav-element{
  position: relative;
  display: inline-block;
}
.nav-element:hover .element-content{
  display: block;
  
}
/* ul{
  margin: 0;
  padding: 0;
} */
.demo{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  
}
li{
  white-space: nowrap;
  list-style: none;
  
}
.header p{
  margin: 0;
  color: #fff;
}